/**
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
PINK: #D9E0E5
dark green: #02746F
white text: #FFF1D2
rose pink: #ff0a54
brown: #B84005

*/

body {
    margin: 10px;
    text-align: center;

    
}

img {
    width: 500px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto 10px auto;
    background-image: url("jaipur images/amber fort.jpg");
    background-size: cover;
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: #FFF1D2;
    text-shadow: -4px 2px 1px #ff0a54;
}

.hero-text {
    margin-top: 40px;
}

#hero-h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: -15px;
}

#hero-h2 {
    font-weight: bolder;
    font-size: 35px;
}

.activities {
    background-color: #FFF1D2;
    padding: 50px 0 50px 0;
    border-radius: 15px;
}

.activities h2 {
    font-size: 30px;
    font-weight: bold;
    color: #B84005;
    
    
}

.activities-img {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}



.images {
    margin: 50px auto 0px auto;
    width: 250px;
    height: 250px;
    border-radius: 80px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}


.image-container h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
    color: #B84005;
}

.image-container p {
    font-size: 18px;
    font-weight: bold;
    color: #B84005;
}

.guide {
    margin-top: 10px;
    border: 3px solid #B84005;
    border-radius: 15px;
    background-color: white;
}

.card-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
}

.card {
    position: relative; /* Important for absolute positioning of stars */
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #FFF1D2;
    color: #2b2839;
    border-bottom: 8px solid #B84005;
    overflow: hidden; /* Prevents stars from overflowing outside */
    border-radius: 15px; /* Smooth edges */
}

.avatar {
    width: 250px;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
}

.card h3 {
    
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.card p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    
}

.card h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pop-effect:hover {
    animation: pop 0.5s ease-in-out;
}

.images, .card {
    transition: transform 1s ease-in-out;
}

.images:hover, .card:hover {
    animation: pop 1s ease-in-out;
}
